body {
    background-color: green;
}

div {
    background-color: rebeccapurple;
    color: white;

    margin: 5em;
    border: solid yellow 1em;
    padding: 5em;

    padding-bottom: 1em;
    margin-top: 10em;

    border-radius: 500px;

    max-width: 50vw;
    height: 30vh;
}
