body {
    background-color: #ffd1dc;
    margin: 0;
}

main {
    background-color: mediumaquamarine;

    width: 50vw;
    height: 50vh;
    margin: auto;
}

div {
    background-color: lime;

    margin: auto;
    width: 10rem;
    height: 10rem;
}
